/*----------SECTION.HOME----------*/
  section.home{
    .inside{
      display: flex;
      .map{
        position: relative;
        height: 50vh;
        border-radius: 3px;
        box-shadow: inset 2px 0px 2px rgba(0,0,0,0.2), inset 0px -2px 2px rgba(0,0,0,0.2), inset 0px 2px 2px rgba(0,0,0,0.2), inset -2px 0px 2px rgba(0,0,0,0.2);
        background-color: #f0f0f0;

        span{
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 999;
          i{
            color: #ff1010;
            transform: translate(-50%, 50%);
          }

          &:after{
            position: absolute;
            top: 0;
            left: 100%;
            content: '('attr(data-x)', 'attr(data-y)')';
            font-size: 12px;
            display: inline-block;
            white-space: nowrap;
          }

          &.right{
            &:after{
              transform: translateX(-100px);
            }
          }
        }
      }


      .controls{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .buttons{
          width: 70%;
          height: 50px;
          display: flex;
          justify-content: space-around;
          .reset, .add-point{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
            background-color: #f0f0f0;
            
            img{
              width: 50%;
              height: 50%;
            }

            &:active{
              background-color: #2bff1c;
            }
          }
          .toggle{
            position: relative;
            width: 100px;
            height: 50px;
            background-color: #f0f0f0;
            border-radius: 25px;
            box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
            transition: 0.15s;

            span{
              position: absolute;
              top: 5px;
              left: 5px;
              width: 40px;
              height: 40px;
              background-color: #fff;
              border-radius: 20px;
              box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
              transition: 0.3s;

              &:after{
                content: 'OFF';
                position: absolute;
                top: 10px;
                left: 5px;
              }
            }

            &.active{
              background-color: #2bff1c;
              span{
                transform: translateX(50px);

                &:after{
                  content: 'ON';
                  left: 6px;
                }
              }
            }
          }          
        }

        .velocity{
          width: 60%;
          display: flex;
          justify-content: space-between;
          .vel{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 15%;
            aspect-ratio: 1;
            font-size: 20px;
            border-radius: 8px;
            background-color: #f0f0f0;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
            cursor: pointer;

            &.active{
              background-color: #2bff1c;
            }
          }
        }

        .commands{
          display: grid;
          grid-template-columns: [left] 80px [center] 80px [right] 80px;
          grid-template-rows: [up] 80px [down] 80px;
          gap: 10px;
          .bt:not(#empty){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: 8px;
            background-color: #f0f0f0;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
            cursor: pointer;
            transition: 0.2s;

            i{
              color: #000;
            }

            &:active{
              box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
            }
          }
        }
      }
    }
  }
/*------------------------------*/
